<!DOCTYPE html>
<html>
<head>
  <!--<script src="lib/angular.min.js"></script>-->
  <!--<script src="lib/angular-resource.min.js"></script>-->
  <!--<script src="ItemGenerator.js"></script>-->
  <!--<script src="app.js"></script>-->
  <!--<script src="services.js"></script>-->
  <!--<script src="controllers.js"></script>-->

  <script src="bower_components/requirejs/require.js" data-main="main.js"></script>
</head>
<body>

<div id="testDiv">

</div>

<!--<ul>-->
  <!--<li ng-repeat="table in tables">-->
    <!--{{table.rangeStart}}-->
    <!--<p>{{table.rangeEnd}}</p>-->
    <!--<ul>-->
     <!--<li ng-repeat="item in table.items">-->
       <!--{{item.description}}-->
     <!--</li>-->
    <!--</ul>-->
  <!--</li>-->
<!--</ul>-->

<!--<select ng-model="itemType">-->
  <!--<option value="minor">Minor</option>-->
  <!--<option value="medium">Medium</option>-->
  <!--<option value="major">Major</option>-->
<!--</select>-->

<!--<button ng-click="generateItem()"> Click </button>-->

<!--<ul>-->
  <!--<li ng-repeat="item in itemList">-->
    <!--{{item.description}}-->
  <!--</li>-->
<!--</ul>-->


<!--{{tables | json}}-->

</body>
</html>
